nav.main-nav {
    background-color: #25252F;
    color: #9AB0A2;
    clear: both;
    height: 35px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    outline: 2px solid #9AB0A2;
}

nav.main-nav .nav-logo {
    width: 25%;
    float: left;
}

nav.main-nav .nav-logo p {
    margin: 0;
    font-size: 200%;
    line-height: 35px;
    font-weight: lighter;
    padding-left: 2%;
}

nav.main-nav .responsiveIcon {
    width: 10%;
    float: right;
    display: none;
    text-align: center;
}

nav.main-nav .navboxhidden {
    background-color: red;
    display: none;
}

nav.main-nav .responsiveIcon p {
    margin: 0;
    height: 35px;
    line-height: 35px;
}

nav.main-nav .nav-navigation {
    width: 65%;
    float: right;
}

nav.main-nav .nav-navigation ul {
    margin: 0;
    line-height: 35px;
    list-style: none;
}

nav.main-nav .nav-navigation ul li {
    float: right;
    padding: 0 1%;
}

nav.main-nav .nav-navigation ul li a {
    text-decoration: none;
    color: #9AB0A2;
    display: block;
}

nav.main-nav .nav-navigation ul li a:hover {
    color: #3D4A4F;
}

@media screen and (max-width: 680px) {
    nav.main-nav .nav-navigation ul {
        display: none;
    }
    
    nav.main-nav .responsiveIcon {
        display: inline;
    }
}