.imageContainer {
    width: 75%;
    min-height: 100px;
    background-color: #3D4A4F;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.imageContainer .content {
    
}

.imageContainer .content img {
    width: 100%;
}

#top {
    margin-top: 50px;
}

@media screen and (max-width: 680px) {
    #top {
        margin-top: 70px;
    }
}